{% twig_js name="track" %}

<img class="artwork" src="{{ track.artwork_url }}/300.jpg"></img>
<a class="toggle-infos">Infos</a>
<ul class="actions">
	<li><a class="addLikey">Likey</a></li>
	<li><a class="fb-share">Facebook</a></li>
	<li><a class="tw-share">Twitter</a></li>
</ul>
<section class="infos">
	<a href="{{ path('me_likey_radio_single_track', {'id': track.id}) }}">
		<div class="artist">{{ track.artist }}</div>
		<div class="title">{{ track.title }}</div>
	</a>
	<ul class="extra-infos">
		{% if track.musiclabel %}
			<li>Label : <a target="_blank" href="{{ track.musiclabel }}">{{ track.musiclabel }}</a></li>
		{% endif %}
		{% if track.website %}
			<li>Website : <a target="_blank" href="{{ track.website}}">{{ track.website }}</a></li>
		{% endif %}
		<li class="source">Source :
		{% if track.soundcloud %}
			<a class="soundcloud" href="{{ track.soundcloud }}" target="_blank">Soundcloud</a>
		{% elseif track.youtube %}
			<a class="youtube" href="http://youtube.com/watch?v={{ track.youtube }}" target="_blank">Youtube</a>
		{% elseif track.vimeo %}
			<a class="vimeo" href="http://vimeo.com/{{ track.vimeo }}" target="_blank">Vimeo</a>
		{% endif %}
		</li>
	</ul>	
</section>
