<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Me Likey Radio SPA</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="{{ asset('bundles/melikeyradio/stylesheets/jquery.mCustomScrollbar.css') }}" rel="stylesheet" type="text/css" />
  {% stylesheets 'bundles/melikeyradio/stylesheets/*' filter='cssrewrite' %}
  	<link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  <script>
  	//This code loads the IFrame Player API code asynchronously.
	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  </script>

  {% javascripts '@MeLikeyRadioBundle/Resources/public/js/vendor/require-2.1.1.js' %}
  	<script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <script>
  // Configure the AMD module loader
  requirejs.config({
    // The path where your JavaScripts are located
    baseUrl: '{{ asset('bundles/melikeyradio/js/') }}',
    // Specify the paths of vendor libraries
    paths: {
      jquery: 'vendor/jquery-1.9.1',
      underscore: 'vendor/underscore-1.4.3',
      backbone: 'vendor/backbone-1.0.0',
      handlebars: 'vendor/handlebars-1.0.rc.1',
      text: 'vendor/require-text-2.0.3',
      chaplin: 'vendor/chaplin-0.8.1',
	  soundcloudSDK: 'http://connect.soundcloud.com/sdk',
      twig: 'vendor/twig',
	  scrollbar: 'vendor/jquery.mCustomScrollbar.concat.min',
	  facebookSDK: '//connect.facebook.net/en_US/all'
    },
    // Underscore and Backbone are not AMD-capable per default,
    // so we need to use the AMD wrapping of RequireJS
    shim: {
      underscore: {
        exports: '_'
      },
      backbone: {
        deps: ['underscore', 'jquery'],
        exports: 'Backbone'
      },
      handlebars: {
        exports: 'Handlebars'
      },
	  soundcloudSDK: {
		exports: 'SC',
		init: function() {
		  SC.initialize({client_id: 'ad3f38b80f23db05a89a7ec3ef2ed696'});
		}
	  },
	  twig: {
		exports: 'Twig',
		init: function() {
			Twig.setFunction('path', function(path, params) { return Routing.generate(path, params); });
			Twig.setFunction('url', function(path, params) { return Routing.generate(path, params, true); });
		}
	  },
      scrollbar: {
	  	deps: ['jquery'],
	  },
	  facebookSDK: {
	  	exports: 'FB',
		init: function() {
			FB.init({
				appId      : '215440595228754',                        // App ID from the app dashboard
		     	status     : true,                                 // Check Facebook Login status
				xfbml      : true                                  // Look for social plugins on the page
			});
		}
	  }
    }
    // For easier development, disable browser caching
    // Of course, this should be removed in a production environment
    , urlArgs: 'bust=' +  (new Date()).getTime()
  });

  // Bootstrap the application
  require(['application'], function(MeLikeyRadio) {
  	window.app = new MeLikeyRadio();
    app.initialize('{{ path("me_likey_web_app_homepage") }}', {{ playlistID }});
  });
  </script>
</head>
<body></body>
</html>
