{% twig_js name="header" %}

<nav id="secondary-nav">
	<ul>
		<li><a target="_blank" href="{{ path('me_likey_radio_track_suggestion_new') }}">Suggestion Box</a></li>
		<li><a target="_blank" href="{{ path('me_likey_radio_newsletter_subscription') }}">Newsletter</a></li>
		<li><a href="{{ path('me_likey_radio_contact') }}">Contact</a></li>
		<li><a href="{{ path('me_likey_radio_about') }}">About</a></li>
	</ul>	
</nav>

<section id="social-links">
	<ul>
		<li><a class="facebook" target="_blank" href="http://facebook.com/MeLikeyRadio">FB</a></li>
		<li><a class="twitter" target="_blank" href="http://twitter.com/melikeyradio">Tw</a></li>
	</ul>	
</section>

<div id="site-title">Me Likey Radio</div>

<nav id="main-nav">
	<ul>
		<li><a href="{{ path('me_likey_radio_homepage') }}">Radio</a></li>
		<li><a href="{{ path('me_likey_radio_tracks') }}">New Stuff</a></li>
		<li><a href="/Developpement.Web/Radio/Chaplin/web/app_dev.php/track">Track</a></li>
		<li><a href="{{ path('me_likey_radio_tracks') }}">You Likey</a></li>
	</ul>
</nav>
